@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype"),
    url(../fonts/Poppins-Medium.ttf) format("truetype"),
    ;
  }



  
}