:root {
    --bg-primary-color: #222831;
    --bg-secundary-color: #393E46;
    --bg-dark-gradient: linear-gradient(180deg, #222831 0%, #393E46 100%);
    --btn-primary-color: #D65A31;
    --btn-hover-color: #e06339;
    --font-primary-color: #EEEEEE;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src: url(./assets/fonts/Poppins-Medium.ttf) format("truetype");
}
html {
    scroll-behavior: smooth;
    font-family: 'Poppins';
    background-color: var(--bg-secundary-color);
}
header, footer{
	background: transparent;
}
/*Mobile*/
.wrap{
	width:95%;
	margin: 0 auto;
}

/*Desktop*/
@media(min-width:1330px){
	.wrap{
		width:100%;
		max-width:80rem;/*1280px*/
        margin: 0 auto;
	}
}