@media (prefers-color-scheme: dark) {
    :root {
        --bg-prime: #111827;
        --bg-sec: #374151;
        --bg-dark-grad: linear-gradient(180deg, #111827 0%, #374151 100%);
        --btn-prime: #D65A31;
        --btn-hover: #e06339;
        --text-prime: #eee;
        --text-sec: #fff;
        --link: #caff69;
    }
}
/*Header-Footer*/
    header, footer{
        background: transparent;
    }
/*Mobile*/
    .wrap{
        width:95%;
        margin: 0 auto;
    }
/*Fontfamily*/
    h1,h2,h3,h4,h5,h6 { font-family: 'Poppins'; }
    
/*Scrollbar*/
    /* width */
    ::-webkit-scrollbar {
        width: 0.8rem;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px black;
        border-radius: 1.2rem;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(#374151 0%, #111827 100%);
        border-radius: 1.2rem;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        border: white 1px solid;
    }
/*Desktop*/
    @media(min-width:1330px){
        .wrap{
            width:100%;
            max-width:80rem;/*1280px*/
            margin: 0 auto;
        }
    }